@import url("./__logo/header__logo.css");
@import url("./__line/header__line.css");

.header {
    width: 69%;
    margin-top: 45px;
    margin-bottom: 36px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 767px) {
    .header {
        width: 100%;
    }
}