.profile__edit-btn {
    color: white;
    border: solid 1px white;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17px;
    margin-bottom: 45px;
    box-shadow: none;
    background: none;
    padding: 0;
    position: absolute;
    right: -45px;
    top: 47px;
    background-image: url("./images/profile__edit.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.profile__edit-btn:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__edit-btn {
        right: -23px;
        top: 18px;
        width: 18px;
        height: 18px;
    }
}