@import url("./__author/footer__author.css");

.footer {
    padding-bottom: 60px;
    margin-top: 66px;
    width: 69%;
}

@media screen and (max-width: 767px) {
    .footer {
        width: 90%;
    }
}